.display-container {
    -fx-alignment: center;
    -fx-background-color: #f0f0f0;
}

.add-friend-container {
    -fx-alignment: top-center;
    -fx-translate-y: 50%;
    -fx-background-color: #f0f0f0;
    -fx-background-radius: 20px;
    -fx-padding: 20px 10px 20px 10px;
    -fx-max-width: 750px;
    -fx-pref-width: 750px;
    -fx-min-width: 750px;
    -fx-min-height: 600px;
    -fx-pref-height: 600px;
    -fx-max-height: 600px;
    -fx-border-radius: 20px;
    -fx-border-color: lightgray;
    -fx-border-width: 3px;
    -fx-spacing: 30px;
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.3), 10, 0, 0, 4);
    -fx-font-size: 15px;
}

.title-field {
    -fx-font-size: 28px;
    -fx-fill: gray;
}

.confirm-btn {
    -fx-min-width: 120px;
    -fx-pref-width: 120px;
    -fx-max-width: 120px;
    -fx-min-height: 40px;
    -fx-pref-height: 40px;
    -fx-max-height: 40px;
    -fx-background-color: #90caf9;
    -fx-background-radius: 20px;
    -fx-text-fill: #f0f0f0;
    -fx-border-color: transparent;
    -fx-border-radius: 20px;
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.3), 10, 0, 0, 4);
    -fx-cursor: hand;
    -fx-translate-y: -7px;
}

.search-bar {
    -fx-alignment: center;
    -fx-min-width: 200px;
    -fx-pref-width: 200px;
    -fx-max-width: 200px;
    -fx-translate-y: -20px;
}

.search-bar-input {
    -fx-border-width: 0 0 1px 0;
    -fx-border-color: lightgray;
    -fx-border-style: solid;
    -fx-background-color: transparent;
    -fx-min-width: 180px;
    -fx-pref-width: 180px;
    -fx-max-width: 180px;
    -fx-padding: 0px 33px 10px 0px;
    -fx-fill: #403e3a;
    -fx-translate-y: 25px;
}

.search-bar-icon {
    -fx-alignment: center-right;
    -fx-translate-y: 16px;
    -fx-translate-x: -15px;
}

.image-view {
    -fx-cursor: hand;
}

.user-table-add {
    -fx-background-color: transparent;
    -fx-min-height: 200px;
    -fx-pref-height: 200px;
    -fx-max-height: 200px;
    -fx-min-width: 690px;
    -fx-pref-width: 690px;
    -fx-max-width: 690px;
    -fx-translate-y: 50px;
}

.table-view .column-header,
.table-view .column-header .filler,
.table-view .column-header-background .filler {
    -fx-font-weight: normal !important;
}

.column-header {
    -fx-padding: 0 10 0 10;
}

.table-column {
    -fx-background-color: #f0f0f0;
    -fx-padding: 0 10 0 10;
}

.search-bars {
    -fx-alignment: center;
    -fx-spacing: 30px;
    -fx-translate-y: 20px;
}

.table-options-container {
    -fx-alignment: center;
    -fx-spacing: 170px;
    -fx-translate-y: 60px;
}

.add-friend-btn {
    -fx-translate-y: 80px;
}