.header-container {
    -fx-alignment: center;
    -fx-padding: 0px 55px 2px 55px;
    -fx-pref-height: 60px;
    -fx-min-height: 60px;
    -fx-max-height: 60px;
    -fx-border: 0px 1px 0px 0px;
    -fx-border-color: lightgray;
    -fx-background-color: #f0f0f0;
}

.app-options {
    -fx-alignment: center;
    -fx-spacing: 55px;
}

.profile-options {
    -fx-alignment: center;
    -fx-spacing: 55px;
}

.image-view {
    -fx-cursor: hand;
}