.messages-container {
    -fx-background-color: #f0f0f0;
    -fx-font-size: 15px;
    -fx-fill: #403e3a;
}

.conversations-container {
    -fx-background-color: #f0f0f0;
    -fx-border: 0px 1px 0px 0px;
    -fx-border-color: lightgray;
    -fx-min-width: 330px;
    -fx-pref-width: 330px;
    -fx-max-width: 330px;
    -fx-alignment: top-center;
}

.search-bar {
    -fx-alignment: center;
    -fx-min-width: 290px;
    -fx-pref-width: 290px;
    -fx-max-width: 290px;
    -fx-translate-y: 5px;
}

.search-bar-input {
    -fx-border-width: 0 0 1px 0;
    -fx-border-color: lightgray;
    -fx-border-style: solid;
    -fx-background-color: transparent;
    -fx-min-width: 270px;
    -fx-pref-width: 270px;
    -fx-max-width: 270px;
    -fx-padding: 0px 33px 10px 0px;
    -fx-fill: #403e3a;
    -fx-translate-y: 25px;
}

.search-bar-icon {
    -fx-alignment: center-right;
    -fx-translate-y: 16px;
    -fx-translate-x: -15px;
}

.image-view {
    -fx-cursor: hand;
}

.friend-container-email {
    -fx-min-width: 270px;
    -fx-pref-width: 270px;
    -fx-max-width: 270px;
}

.friend-container-dot {
    -fx-translate-y: 1px;
}

.messager-container {
    -fx-hgrow: always;
}

.messager {
    -fx-fill: true;
    -fx-alignment: center;
    -fx-min-height: 86px;
    -fx-pref-height: 86px;
    -fx-max-height: 86px;
    -fx-border: 0 0 1px 0;
    -fx-border-color: lightgray;
    -fx-font-size: 15px;
}

.messages {
    -fx-fill: true;
    -fx-alignment: top-center;
    -fx-border: 0 0 1px 0;
    -fx-border-color: lightgray;
    -fx-spacing: 10px;
    -fx-background-color: #f0f0f0;
}

.messages-options {
    -fx-fill: true;
    -fx-alignment: center;
    -fx-min-height: 86px;
    -fx-pref-height: 86px;
    -fx-max-height: 86px;
    -fx-border: 1px 0 0 0;
    -fx-border-color: lightgray;
    -fx-padding: 0px 30px 0px 30px;
}

.search-bar-results {
    -fx-background-color: #f0f0f0;
    -fx-translate-y: 74px;
    -fx-min-width: 286px;
    -fx-pref-width: 286px;
    -fx-max-width: 286px;
    -fx-min-height: 400px;
    -fx-pref-height: 400px;
    -fx-max-height: 400px;
    -fx-border: 0px;
    -fx-border-color: transparent;
}

.list-cell {
    -fx-background-color: #f0f0f0;
}

.community-image {
    -fx-translate-y: -100px;
    -fx-cursor: normal;
}

.go-chat-info {
    -fx-font-size: 20px;
    -fx-translate-y: 150px;
}

.message-field {
    -fx-min-height: 40px;
    -fx-pref-height: 40px;
    -fx-max-height: 40px;
    -fx-background-color: #f0f0f0;
    -fx-border-width: 1px;
    -fx-border-color: lightgray;
    -fx-border-radius: 20px;
    -fx-background-radius: 20px;
    -fx-padding: 0px 20px 0px 20px;
}

.send-message-icon {
    -fx-translate-x: -20px;
}

.sender-message-label {
    -fx-background-color: #90caf9;
    -fx-text-fill: #f0f0f0;
    -fx-border-radius: 20px;
    -fx-background-radius: 20px;
    -fx-padding: 7px 14px 7px 14px;
    -fx-wrap-text: true;
    -fx-translate-x: -20px;
}

.receiver-message-label {
    -fx-background-color: #90caf9;
    -fx-text-fill: #f0f0f0;
    -fx-border-radius: 20px;
    -fx-background-radius: 20px;
    -fx-padding: 7px 14px 7px 14px;
    -fx-wrap-text: true;
    -fx-translate-x: 20px;
}

.messages-container-scrollable {
    -fx-background-color: #f0f0f0;
}